@media (min-width: 320px) and (max-width: 1100px) {

    .animated {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }

    header {
        height: 700px;
    }

    hr {
        width: 300px !important;
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }

    footer,
    .header__scroll-info {
        font-size: 13px;
    }

    .header__prompt-scroll-inner,
    .header__scroll-inner,
    .header__left-texture,
    .header__right-img,
    .header__menu,
    .work__left-texture,
    .work__right-texture,
    .work__number-texture,
    .contacts-texture {
        display: none !important;
    }


    .contacts__text,
    .contacts__social-title {
        margin-top: 20px;
    }

    .work__content-inner {
        margin-top: 30px;
    }

    .work__img-inner .work__btn {
        margin-top: 20px;
        margin-left: 0px !important;
    }

    .play {
        width: 130px;
    }

    .header__action-element-inner {
        display: block !important;
        text-align: center;
    }

    .work__title {
        font-size: 40px;
    }

    .work__img-inner,
    .header__btn-inner {
        margin: 0px !important;
    }

    .work__content-inner {
        padding-left: 10px !important;
    }

    .work__playlist-inner {
        flex-direction: column;
    }

    .sort {
        order: -1;
    }

    .hamburger-shell {
        display: inline-block !important;
    }

    .header__main-title {
        font-size: 52px;
        margin-bottom: 20px;
        text-align: center;
    }

    .header__main-subtitle {
        font-size: 22px;
        text-align: center;
    }

    .header__offer {
        margin-top: 100px;
    }

    .work__play-list {
        padding: 0px !important;
        text-align: center;
    }
}

@media (min-width: 1110px) and (max-width: 1500px) {

    .header__right-img img,
    .header__left-texture img,
    .work__left-texture img,
    .work__right-texture img {
        display: none !important;
    }

    .header__btn-inner {
        margin-right: -30px;
    }
}